@charset "UTF-8";
.timer-container {
  margin: 0 auto;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 5px solid #886940;
  padding-top: 6px;
  color: #886940;
}
.timer-container span {
  display: block;
  text-align: center;
  line-height: 1;
}
.timer-container span.serial, .timer-container span.day {
  font-size: 12px;
}
.timer-container span.countdown {
  font-size: 1.75em;
  font-family: 'Lora', serif;
}

.nav-tabs {
  border: 0;
  margin-top: -60px;
}
.nav-tabs > li {
  width: 42%;
  text-align: center;
}
.nav-tabs > li > a {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  color: #999;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #999;
  background-color: transparent;
  position: relative;
}
.nav-tabs > li > a:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #999;
  display: block;
  position: absolute;
  left: 48%;
  top: 32px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: transparent;
  color: #999;
  border: 0;
  border-bottom: 1px solid #999;
}
.nav-tabs > li:nth-of-type(1) {
  float: left;
}
.nav-tabs > li:nth-of-type(2) {
  float: right;
}
@media only screen and (max-width: 320px) {
  .nav-tabs > li {
    width: 40%;
  }
}
.nav-tabs > li.active > a {
  color: #7A1822;
  border: 0;
  border-bottom: 1px solid #7A1822;
  background-color: transparent;
}
.nav-tabs > li.active > a:after {
  background: #7A1822;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
  color: #7A1822;
  border: 0;
  border-bottom: 1px solid #7A1822;
}

.tab-content {
  padding: 3px 6px;
  position: relative;
  height: 100%;
}
.tab-content #comment-group {
  *zoom: 1;
  clear: both;
}
.tab-content #comment-group:after, .tab-content #comment-group:before {
  content: "";
  display: table;
}
.tab-content #comment-group:after {
  clear: both;
}
.tab-content #feed, .tab-content #comment {
  overflow-y: scroll;
  height: 100%;
}
.tab-content .comment, .tab-content .feed {
  margin-bottom: 16px;
  padding: 8px;
  color: #fff;
  font-size: 1em;
  line-height: 1.25em;
  position: relative;
  background: #C2A988;
  border-radius: 2px;
  text-shadow: 0 0 4px #886940;
  box-shadow: 0 2px 10px rgba(76, 74, 72, 0.4);
}
.tab-content .comment:after, .tab-content .feed:after {
  top: 100%;
  right: 4px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #C2A988;
  border-width: 6px;
}
.tab-content .feed {
  margin-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  font-size: 13px;
  line-height: 1.5em;
  word-spacing: .2em;
  letter-spacing: .04em;
  padding: 6px 8px;
  width: 94%;
}
.tab-content .feed .trader-info {
  margin-right: 4px;
  width: 40px;
  display: inline-block;
}
.tab-content .feed .trader-info > span {
  display: block;
}
.tab-content .feed .trader-info > span.photo {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(76, 74, 72, 0.6);
}
.tab-content .feed .trader-info > span.photo img {
  width: 100%;
}
.tab-content .feed .trader-info > span.states {
  text-align: center;
  font-family: 'Lora', "source-han-sans-traditional", sans-serif, 'arial', "微軟正黑體", "Microsoft JhengHei";
  line-height: 1.125em;
  font-size: 12px;
}
.tab-content .feed .feed-content {
  -webkit-flex: 1;
  flex: 1;
}
.tab-content .feed .feed-content .time {
  color: #E4D7CA;
  font-size: 11px;
}
.tab-content .feed.left:after {
  right: auto;
  left: 4px;
}
.tab-content .feed.right {
  float: right;
}
.tab-content .feed.news {
  width: 100%;
  margin: 0 auto 10px;
  float: none;
  background: rgba(76, 74, 72, 0.7);
}
.tab-content .feed.news p {
  margin-bottom: 0;
}
.tab-content .feed.news p > span {
  display: inline;
}
.tab-content .feed.news:after {
  display: none;
  border: 0;
}

.toggle {
  width: 168px;
  height: 40px;
  margin: 7px auto 0;
  text-align: center;
  position: relative;
  top: 0;
  z-index: 2;
  background: url('../images/toggle.png?1480864018') center top no-repeat;
}

#arrow {
  position: absolute;
  left: 0;
  top: 0;
  width: 182px;
  height: 34px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
#arrow:checked + label[for="arrow"]:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#arrow:checked + label[for="arrow"]:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

label[for="arrow"] {
  width: 100px;
  height: 0;
  background: #E4D7CA;
  transition: .75s;
  -webkit-transition: 1s;
  cursor: pointer;
}
label[for="arrow"]:before, label[for="arrow"]:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  top: 14px;
  box-shadow: 0 0 4px #4C4A48;
  background: inherit;
  transition: inherit;
  -webkit-transition: inherit;
}
label[for="arrow"]:before {
  left: 76px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
label[for="arrow"]:after {
  left: 82px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
label[for="arrow"] span {
  color: #E4D7CA;
  width: 100px;
  margin: 0 auto;
  font-size: 12px;
  display: block;
  padding-top: 17px;
  text-shadow: 0 0 6px #4C4A48;
}

.info-container {
  width: 100%;
  position: fixed;
  bottom: 55px;
  left: 0px;
  z-index: 99;
  height: auto;
  font-weight: 400;
  font-size: 1.3em;
  background: url('../images/info_bg.png?1480864018') center top no-repeat;
}

.info-container.container {
  padding-left: 6px;
  padding-right: 6px;
}
.info-container.container .row {
  margin-left: 0;
  margin-right: 0;
  display: -webkit-flex;
  display: flex;
}
.info-container.container .col-center, .info-container.container .col-side {
  float: left;
  padding-left: 2px;
  padding-right: 2px;
}
.info-container.container .col-side {
  width: 108px;
}
.info-container.container .col-center {
  -webkit-flex: 1;
  flex: 1;
}
.info-container.container .col-center + div {
  float: right;
}
.info-container.container .center-info {
  text-align: center;
  margin-top: 26px;
}
.info-container.container .center-info > span {
  display: block;
}
.info-container.container .center-info .VS {
  color: #886940;
  font-size: 1.5em;
  line-height: 1.2;
}

#PL {
  position: fixed;
  width: 300px;
  right: -240px;
  bottom: 220px;
  height: 44px;
  display: -webkit-flex;
  display: flex;
  font-family: 'Roboto', serif;
  box-shadow: 0 2px 10px rgba(76, 74, 72, 0.4);
}
#PL > div {
  display: inline-block;
}
#PL .title {
  color: #fff;
  text-shadow: 0 0 4px rgba(76, 74, 72, 0.6), 0 0 10px rgba(76, 74, 72, 0.6);
  width: 60px;
  background: rgba(136, 105, 64, 0.8);
  line-height: 44px;
  text-align: center;
  font-size: 1em;
}
#PL .detail {
  color: #4C4A48;
  padding: 4px;
  flex: 1;
  -webkit-flex: 1;
  line-height: 1.5em;
  font-size: 12px;
  background: rgba(228, 215, 202, 0.9);
}
#PL .detail span {
  display: block;
}
#PL .detail.active {
  display: block;
}

.game-info-top {
  height: 150px;
  color: #4C4A48;
}
.game-info-top .row {
  margin-top: -25px;
}
.game-info-top .col-side .ROI {
  position: relative;
  font-size: 1.25em;
  letter-spacing: -.01em;
  line-height: 1;
}
.game-info-top .col-side .ROI > span {
  position: absolute;
  top: 0;
  font-size: 10px;
}
.game-info-top .subscribe {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}
.game-info-top .pro-pic {
  width: 82px;
  position: relative;
}
.game-info-top .pro-pic img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(76, 74, 72, 0.4);
}
.game-info-top .pro-pic .level {
  color: #fff;
  font-size: 10px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #986F11;
  text-align: center;
  z-index: 3;
  position: absolute;
  top: 38px;
}
.game-info-top .pro-pic.right {
  float: right;
}
.game-info-top .pro-pic.right .level {
  right: 0;
}
.game-info-top .pro-pic.right .name {
  text-align: right;
}
.game-info-top .pro-pic.pro-pic .name {
  font-size: 10px;
  display: block;
  line-height: 1.2;
}
@media only screen and (max-width: 320px) {
  .game-info-top .subscribe {
    font-size: 12px;
    padding: 5px 3px;
    margin: 7px;
  }
  .game-info-top .col-side .ROI {
    font-size: 1.125em;
  }
}

.game-info-bottom {
  height: 350px;
}
.game-info-bottom .row {
  clear: both;
  *zoom: 1;
}
.game-info-bottom .row:after, .game-info-bottom .row:before {
  content: "";
  display: table;
}
.game-info-bottom .row:after {
  clear: both;
}
.game-info-bottom .row2 {
  margin-top: -10px;
}
.game-info-bottom .col-side {
  font-size: 10px;
  width: 118px;
  color: #EFEFEF;
}
.game-info-bottom .icon-group img {
  width: 26px;
  height: 26px;
}
.game-info-bottom .tag-group {
  width: 120px;
}
.game-info-bottom .tag-group .tag {
  color: #999;
  border-radius: 2px;
  background: rgba(239, 239, 239, 0.16);
  padding: 1px 2px;
  border: 1px solid #999;
  display: inline-block;
  margin: 1px;
}
.game-info-bottom .other-info {
  clear: both;
  line-height: 1.5;
  color: #4C4A48;
}
.game-info-bottom .other-info span {
  display: block;
}
.game-info-bottom .game-info {
  background: rgba(136, 105, 64, 0.2);
  font-size: 12px;
  text-align: center;
  color: #886940;
  box-shadow: 0 0 4px rgba(76, 74, 72, 0.6);
}
.game-info-bottom .game-info span {
  display: block;
}
.game-info-bottom .trading-curve {
  width: 90%;
  padding: 10px;
  min-height: 160px;
  margin: 10px auto;
  border: 1px solid #999;
}
.game-info-bottom .col-xs-6 {
  font-size: 10px;
  color: #EFEFEF;
  padding-left: 0;
  padding-right: 0;
}
.game-info-bottom .col-xs-6.text-right .tag-group {
  float: right;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.content {
  overflow: hidden;
  height: 100%;
  padding-bottom: 330px;
  position: relative;
}
.content .btn {
  position: absolute;
  top: 52px;
  right: 10px;
  z-index: 4;
}
.content.container {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: -5px;
}
.content.container:before, .content.container:after {
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  z-index: 3;
}
.content.container:before {
  top: 70px;
  background: url('../images/fade-top.png?1480864018') bottom center;
}
.content.container:after {
  bottom: 260px;
  background: url('../images/fade-bottom.png?1480864018') top center;
}

footer {
  clear: both;
  height: 200px;
  margin-top: -200px;
  background: red;
}

.main-content {
  overflow: hidden;
  height: 98%;
  position: relative;
  margin-top: 30px;
  padding-top: 6px;
}
