@charset "UTF-8";
/* ------------ base ------------ */
body, html {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Times', "source-han-sans-traditional", serif, 'arial', "微軟正黑體", "Microsoft JhengHei";
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.85;
  background: url('../images/bg.jpg?1480327742') top center no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  line-height: 1.8;
}

*:hover {
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}

p {
  font-size: 1em;
  font-weight: 200;
  font-family: "source-han-sans-traditional", sans-serif;
}

a {
  color: #d8d8d8;
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}
a:hover, a:focus {
  text-decoration: none;
  color: #604509;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul, li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  list-style: none;
}

.btn span {
  padding: 0 5px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 3px 6px;
}
@media only screen and (max-width: 320px) {
  .btn-xs, .btn-group-xs > .btn {
    padding: 1px 3px;
  }
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.btn-primary {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #880000), color-stop(100%, #190000));
  background-image: -moz-linear-gradient(top, #880000, #190000);
  background-image: -webkit-linear-gradient(top, #880000, #190000);
  background-image: linear-gradient(to bottom, #880000, #190000);
  border: 0;
  color: #FFF0CC;
  box-shadow: 0 1px 4px rgba(243, 92, 92, 0.6);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg4MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #190000), color-stop(100%, #880000));
  background-image: -moz-linear-gradient(top, #190000, #880000);
  background-image: -webkit-linear-gradient(top, #190000, #880000);
  background-image: linear-gradient(to bottom, #190000, #880000);
  border: 0;
  color: #FFF0CC;
  box-shadow: 0 1px 4px rgba(243, 92, 92, 0.6);
}
.btn-primary:active:hover, .btn-primary:active:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg4MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #190000), color-stop(100%, #880000));
  background-image: -moz-linear-gradient(top, #190000, #880000);
  background-image: -webkit-linear-gradient(top, #190000, #880000);
  background-image: linear-gradient(to bottom, #190000, #880000);
  border: 0;
  color: #FFF0CC;
  box-shadow: 0 1px 4px rgba(243, 92, 92, 0.6);
}
.btn-primary.disabled {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg4MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #190000), color-stop(100%, #880000));
  background-image: -moz-linear-gradient(top, #190000, #880000);
  background-image: -webkit-linear-gradient(top, #190000, #880000);
  background-image: linear-gradient(to bottom, #190000, #880000);
  border: 0;
  box-shadow: 0 2px 4px rgba(136, 0, 0, 0.7);
}
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary.disabled[disabled], .btn-primary.disabled[disabled]:hover, .btn-primary.disabled[disabled]:focus, .btn-primary.disabled[disabled].focus, .btn-primary.disabled[disabled]:active, .btn-primary.disabled[disabled].active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg4MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #190000), color-stop(100%, #880000));
  background-image: -moz-linear-gradient(top, #190000, #880000);
  background-image: -webkit-linear-gradient(top, #190000, #880000);
  background-image: linear-gradient(to bottom, #190000, #880000);
  border: 0;
}

.btn-sm {
  color: #d8d8d8;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 0.8em;
}
@media only screen and (max-width: 320px) {
  .btn-sm {
    font-size: 0.75em;
    padding: 4px 8px;
  }
}

header {
  text-align: center;
}
header h2.logo {
  font-family: 'Sarpanch', sans-serif;
  font-weight: 900;
  color: #d8d8d8;
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  line-height: 1;
  text-shadow: 0 0 6px #000, 0 0 0 #000, 1px 4px 6px #000;
}

nav.icon-group {
  position: absolute;
  top: 10px;
  right: 6px;
}
nav.icon-group ul li {
  margin: 0 1px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
nav.icon-group ul li:nth-child(1) {
  background: url('../images/icon-messege.png?1480328103');
}
nav.icon-group ul li:nth-child(2) {
  background: url('../images/icon-member.png?1480328103');
}
nav.icon-group ul li:nth-child(3) {
  background: url('../images/icon-notification.png?1480328103');
}
nav.icon-group ul li a {
  display: block;
  height: 26px;
  width: 26px;
}

nav.main {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9Ii01MCUiIHI9IjgwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDE2NiIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMDAwMTAyIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(50% -50%, circle, #004166, #000102 80%);
  background-image: -webkit-radial-gradient(50% -50%, circle, #004166, #000102 80%);
  background-image: radial-gradient(circle at 50% -50%, #004166, #000102 80%);
  border-top: 1px solid #09334E;
  font-family: 'Sarpanch', sans-serif;
  font-size: .9em;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  z-index: 9999;
}
nav.main ul {
  text-align: center;
}
nav.main ul li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 19%;
  height: 56px;
}
nav.main ul li a {
  display: block;
  line-height: 1;
  text-shadow: 0 0 3px #000102, 0 0 6px #000102;
}
nav.main ul li a:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 44px;
  height: 35px;
  margin-top: 2px;
  background: url('../images/nav-sprite.png?1480560986') no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  nav.main ul li a:before {
    /* on retina, use image that's scaled by 2 */
    background-image: url('../images/nav-spritex2.png?1480560742');
    background-size: 44px 175px;
  }
}
nav.main ul li:nth-child(1) a:before {
  background-position: top;
}
nav.main ul li:nth-child(2) a:before {
  background-position: 0 -35px;
}
nav.main ul li:nth-child(3) a:before {
  background-position: 0 -70px;
}
nav.main ul li:nth-child(4) a:before {
  background-position: 0 -105px;
}
nav.main ul li:nth-child(5) a:before {
  background-position: 0 -140px;
}

.wrapper {
  padding: 0 10px;
  min-height: 100%;
  overflow: hidden;
}

.gray-note {
  color: #999;
  font-size: 10px;
  line-height: 1.25em;
}
